<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module 
      assemblyFile="Prisma.Warehouse.dll" 
      moduleType="Prisma.Warehouse.WarehouseModule, Prisma.Warehouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
      moduleName="WarehouseModule" 
      startupLoaded="true" />
  </modules>
</configuration>